@import "catppuccin-mocha"

* {
    /* Theme Color Palette Mapping */
    bg: var(base);
    bg-alt: var(mantle);
    fg: var(text);
    selected-bg: var(sapphire);
    selected-fg: var(base);
    border-active: var(sapphire);
    border-inactive: var(surface0);

    /* Global Reset */
    background-color: transparent;
}

window {
    background-color: var(bg);
    border: 1px solid;
    border-color: var(border-active);
    padding: 25px;
    width: 45%;
}

mainbox {
    spacing: 15px;
}

inputbar {
    background-color: var(bg-alt);
    padding: 12px;
    children: [prompt, entry];
    border: 1px solid;
    border-color: var(border-inactive);
}

prompt {
    text-color: var(fg);
    padding: 0px 10px 0px 0px;
}

entry {
    text-color: var(fg);
    placeholder: "Search...";
    placeholder-color: var(overlay0);
}

listview {
    lines: 10;
    spacing: 4px;
    scrollbar: false;
    border: 0px;
}

element {
    padding: 8px 20px;
    text-color: var(fg);
}

element normal.normal, element alternate.normal {
    background-color: var(bg);
    text-color: var(fg);
}

element selected.normal {
    background-color: var(selected-bg);
    text-color: var(selected-fg);
}

element-text {
    background-color: inherit;
    text-color: inherit;
    vertical-align: 0.5;
}

element-icon {
    background-color: inherit;
    padding: 0px 10px 0px 0px;
    size: 1.2em;
}
